<section>
  <h2>Post a new Review</h2>

  <form class="new-review-form" enctype="multipart/form-data">
      <div>
          <label for="review-file">Photo</label>
          <input type="file" id="review-file" name="review-file" />
      </div>
      <div>
      <label for="review-title">Title</label>
      <input type="text" id="review-title" name="review-title" />
    </div>
    <div>
      <label for="review-url">Review Text</label>
      <input id="review-url" name="review-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if reviews.length}}
<section>
  <h2>Your Reviews</h2>
  <div>
    {{#each reviews as |review|}}
    <div class="edit_review_section">
      {{> review-info review}}
    <a href="/dashboard/edit/{{review.id}}" class="edit-link">Edit Review</a>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}

<script src="/javascript/add-review.js"></script>
