<h2>Enjoy Adventure Reviews From Around The World... Share Your Travel Story! </h2>
<ol class="review-list">

    {{#each reviews as |review|}}

        <li>

            {{> review-info review loggedIn = ../loggedIn }}

        </li>
    {{/each}}
</ol>

<script>
        if (document.querySelectorAll('.review').length) {
        for (let i = 0; i < document.querySelectorAll('.review').length; i++) {
             document.querySelectorAll('#img')[i].src = localStorage[i]
            console.log(localStorage[i])
        }
    }
</script>
