<h2>Enjoy Adventure Reviews From Around The World... Share Your Travel Story! </h2>
<ol class="review-list">

    {{#each reviews as |review|}}

        <li>

            {{> slice review loggedIn = ../loggedIn }}

        </li>
    {{/each}}
</ol>
